# Import Packages

In [1]:
import psycopg
from psycopg import sql
import pandas as pd
import csv
from sqlalchemy import create_engine
import psycopg2

# Connect to PostgreSQL database

In [2]:
conn = psycopg.connect(
    host="localhost",
    port='5432',
    dbname="5310_project",
    user="postgres",
    password="123")

# Create Tables

In [3]:
cur = conn.cursor()

# SQL command to drop all tables in the 'public' schema
dropCmd = """
DO $$ DECLARE
    r RECORD;
BEGIN
    FOR r IN (SELECT tablename FROM pg_tables WHERE schemaname = 'public') LOOP
        EXECUTE 'DROP TABLE IF EXISTS ' || quote_ident(r.tablename) || ' CASCADE';
    END LOOP;
END $$;
"""

# Execute the command
cur.execute(dropCmd)
cur.close()

In [4]:
cur = conn.cursor()

createCmd = '''
CREATE TABLE transportation (
    transit_id SERIAL PRIMARY KEY,
    bus VARCHAR(100),
    subway VARCHAR(100),
    regional_rail VARCHAR(100)
);

CREATE TABLE neighborhood (
    neighborhood_id SERIAL PRIMARY KEY,
    neighborhood_name VARCHAR(50),
    crime_rate INTEGER,
    school_rate INTEGER,
    economic_growth_index INTEGER,
    local_amenities INTEGER
);

CREATE TABLE building_features (
    feature_id SERIAL PRIMARY KEY,
    condition VARCHAR(50),
    garden BOOLEAN,
    pet_allowed BOOLEAN,
    gym BOOLEAN,
    bbq_grill BOOLEAN,
    open_rooftop BOOLEAN,
    indoor_laundry BOOLEAN
);

CREATE TABLE construction_feature (
    construction_id SERIAL,
    architectural_style VARCHAR(50),
    construction_material VARCHAR(50),
    foundation VARCHAR(50),
    condition VARCHAR(50),
    PRIMARY KEY (construction_id)
);

CREATE TABLE utility_coverage (
    utility_id SERIAL,
    electricity VARCHAR(50),
    water VARCHAR(50),
    gas VARCHAR(50),
    internet VARCHAR(50),
    PRIMARY KEY (utility_id)
);

CREATE TABLE security_condition (
    security_id INTEGER,
    door_man BOOLEAN,
    security_man BOOLEAN,
    camera BOOLEAN,
    exterior_gate BOOLEAN,
    PRIMARY KEY (security_id) 
);

CREATE TABLE property (
    property_id SERIAL PRIMARY KEY,
    transit_id INTEGER,
    neighborhood_id INTEGER,
    security_id INTEGER,
    utility_id INTEGER,
    feature_id INTEGER,
    construction_id INTEGER,
    address VARCHAR(255),
    zipcode INTEGER,
    state VARCHAR(50),
    city VARCHAR(50),
    year_built INTEGER,
    square_feet INTEGER,
    property_type VARCHAR(20),
    bedroom_number INTEGER,
    bathroom_number INTEGER,
    description TEXT,
    FOREIGN KEY (transit_id) REFERENCES transportation(transit_id),
    FOREIGN KEY (neighborhood_id) REFERENCES neighborhood(neighborhood_id),
    FOREIGN KEY (security_id) REFERENCES security_condition(security_id),
    FOREIGN KEY (utility_id) REFERENCES utility_coverage(utility_id),
    FOREIGN KEY (feature_id) REFERENCES building_features(feature_id),
    FOREIGN KEY (construction_id) REFERENCES construction_feature(construction_id)
);

CREATE TABLE service_request (
    request_id SERIAL PRIMARY KEY,
    property_id INTEGER,
    request_date DATE,
    issue_description TEXT,
    status BOOLEAN,
    resolved_date DATE,
    FOREIGN KEY (property_id) REFERENCES property(property_id)
);

CREATE TABLE inspection_reports (
    inspection_id SERIAL PRIMARY KEY,
    property_id INTEGER,
    inspection_date DATE,
    inspection_result VARCHAR(100),
    follow_up_required BOOLEAN,
    notes TEXT,
    FOREIGN KEY (property_id) REFERENCES property(property_id)
);

CREATE TABLE property_images (
    image_id SERIAL,
    property_id INTEGER,
    image_url VARCHAR(255),
    PRIMARY KEY (image_id),
    FOREIGN KEY (property_id) REFERENCES property(property_id)
);

CREATE TABLE agent (
    agent_id SERIAL PRIMARY KEY,
    address VARCHAR(255),
    zipcode INTEGER,
    state VARCHAR(50),
    city VARCHAR(50),
    phone VARCHAR(50)
);

CREATE TABLE property_listing (
    listing_id SERIAL PRIMARY KEY,
    property_id INTEGER,
    agent_id INTEGER,
    date_listed DATE,
    price INTEGER,
    listing_type VARCHAR(50),
    listing_status VARCHAR(50),
    FOREIGN KEY (property_id) REFERENCES property(property_id),
    FOREIGN KEY (agent_id) REFERENCES agent(agent_id)
);

CREATE TABLE employees (
    employees_id SERIAL PRIMARY KEY,
    agent_id INTEGER,
    employees_name VARCHAR(50),
    email VARCHAR(200),
    phone VARCHAR(50),
    position VARCHAR(100),
    employment_type VARCHAR(50),
    FOREIGN KEY (agent_id) REFERENCES agent(agent_id)
);

CREATE TABLE property_owner (
    owner_id SERIAL PRIMARY KEY,
    owner_name VARCHAR(100),
    email VARCHAR(100),
    phone VARCHAR(50)
);

CREATE TABLE client (
    client_id SERIAL PRIMARY KEY,
    client_name VARCHAR(100),
    client_type VARCHAR(50),
    email VARCHAR(100),
    phone VARCHAR(50)
);

CREATE TABLE client_preferences (
    preference_id SERIAL PRIMARY KEY,
    client_id INTEGER,
    property_type VARCHAR(20),
    bedrooms INTEGER,
    bathrooms INTEGER,
    square_footage INTEGER,
    preferred_school_rating INTEGER,
    FOREIGN KEY (client_id) REFERENCES client(client_id)
);

CREATE TABLE appointments (
    appointment_id SERIAL PRIMARY KEY,
    client_id INTEGER,
    listing_id INTEGER,
    employees_id INTEGER,
    appointment_type VARCHAR(50),
    appointment_date DATE,
    appointment_time TIME,
    latest_status VARCHAR(100),
    FOREIGN KEY (client_id) REFERENCES client(client_id),
    FOREIGN KEY (listing_id) REFERENCES property_listing(listing_id),
    FOREIGN KEY (employees_id) REFERENCES employees(employees_id)
);

CREATE TABLE transactions (
    transaction_id SERIAL PRIMARY KEY,
    client_id INTEGER,
    listing_id INTEGER,
    owner_id INTEGER,
    employees_id INTEGER,
    appointment_id INTEGER,
    date_of_transaction DATE,
    status VARCHAR(100),
    final_price INTEGER,
    agent_fee_percentage INTEGER,
    FOREIGN KEY (client_id) REFERENCES client(client_id),
    FOREIGN KEY (listing_id) REFERENCES property_listing(listing_id),
    FOREIGN KEY (owner_id) REFERENCES property_owner(owner_id),
    FOREIGN KEY (employees_id) REFERENCES employees(employees_id),
    FOREIGN KEY (appointment_id) REFERENCES appointments(appointment_id)
);

CREATE TABLE feedback (
    feedback_id SERIAL PRIMARY KEY,
    transaction_id INTEGER,
    rating INTEGER,
    feedback_date DATE,
    FOREIGN KEY (transaction_id) REFERENCES transactions(transaction_id)
);

CREATE TABLE loan_suggestion (
    loan_id SERIAL PRIMARY KEY,
    listing_id INTEGER,
    client_id INTEGER,
    loan_type VARCHAR(50),
    loan_amount INTEGER,
    interest_rate DECIMAL,
    provider VARCHAR(100),
    preapproval_status BOOLEAN,
    FOREIGN KEY (listing_id) REFERENCES property_listing(listing_id),
    FOREIGN KEY (client_id) REFERENCES client(client_id)
); 
'''
cur.execute(createCmd)

In [5]:
conn.commit()
cur.close()

In [6]:
# Create a cursor object
cur = conn.cursor()

# Execute the SQL query
cur.execute("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    AND table_type = 'BASE TABLE';
""")

# Fetch all rows
tables = cur.fetchall()

# Print the names of all tables
for table in tables:
    print(table[0])

# Close the cursor and the database connection
cur.close()

property_images
property_listing
agent
employees
client
client_preferences
appointments
transactions
property_owner
feedback
transportation
property
neighborhood
security_condition
utility_coverage
building_features
construction_feature
service_request
inspection_reports
loan_suggestion

In [7]:
conn.close()

# Insert Value

## Extract

In [8]:
# List of CSV file names
file_names = [
    'transportation.csv',
    'neighborhood.csv',
    'building_features.csv',
    'construction_feature.csv',
    'utility_coverage.csv',
    'security_condition.csv',
    'property.csv',
    'service_request.csv',
    'inspection_reports.csv',
    'property_images.csv',
    'agent.csv',
    'property_listing.csv',
    'employees.csv',
    'property_owner.csv',
    'client.csv',
    'client_preferences.csv',
    'appointments.csv',
    'transactions.csv',
    'feedback.csv',
    'loan_suggestion.csv'
]

In [9]:
conn_url = 'postgresql://postgres:123@localhost/5310_project'
engine = create_engine(conn_url)
connection = engine.connect()

In [10]:
for file_name in file_names:
    # Create variable name and DataFrame
    table_name = file_name.replace('.csv', '')
    df = pd.read_csv(file_name)  # Load CSV into DataFrame

In [11]:
for file_name in file_names:
    # Create variable name and DataFrame
    table_name = file_name.replace('.csv', '')
    globals()[f"{table_name}_df"] = pd.read_csv(file_name)

## Transform

In [12]:
# Define function to standardize date formats in specified columns of a DataFrame
def standardize_date_formats(df, date_columns):
    for column in date_columns:
        df[column] = pd.to_datetime(df[column], errors='coerce')
    return df

# Define list of DataFrame and corresponding date columns
dataframes_and_date_columns = {
    'service_request_df': ['request_date'], 
    'service_request_df': ['resolved_date'], 
    'inspection_reports_df': ['inspection_date'],
    'property_listing_df': ['date_listed'],
    'appointments_df': ['appointment_date'],
    'transactions_df': ['date_of_transaction'],
    'feedback_df': ['feedback_date']
}

# Loop through each DataFrame and standardize date formats for specified columns
for df_name, date_columns in dataframes_and_date_columns.items():
    df = globals()[df_name]
    globals()[df_name] = standardize_date_formats(df, date_columns)
    
    print(f"Date formats standardized for DataFrame: {df_name}")

Date formats standardized for DataFrame: service_request_df
Date formats standardized for DataFrame: inspection_reports_df
Date formats standardized for DataFrame: property_listing_df
Date formats standardized for DataFrame: appointments_df
Date formats standardized for DataFrame: transactions_df
Date formats standardized for DataFrame: feedback_df

In [13]:
# Define function to check NA for the first column and duplicates for all columns
def check_na_and_duplicates(df):
    
    # Check for missing values (NA) in the first column
    na_in_primary_key = df[df.iloc[:, 0].isna()]
    if not na_in_primary_key.empty:
        print(f"Rows with missing values in the primary key column found in DataFrame:")
        print(na_in_primary_key)
        # Drop rows with missing values in the primary key column
        df = df.dropna(subset=[df.columns[0]])
    
    # Check for duplicates in all columns
    duplicates = df[df.duplicated()]
    if not duplicates.empty:
        print(f"Duplicate rows found in DataFrame:")
        print(duplicates)
        # Drop duplicate rows
        df = df.drop_duplicates()
    
    return df

# Iterate over each DataFrame and perform checks
for table_name in [name.replace('.csv', '') for name in file_names]:
    df = globals()[f"{table_name}_df"]
    globals()[f"{table_name}_df"] = check_na_and_duplicates(df)
    print(f"NA and duplicates checked for DataFrame: {table_name}")

NA and duplicates checked for DataFrame: transportation
NA and duplicates checked for DataFrame: neighborhood
NA and duplicates checked for DataFrame: building_features
NA and duplicates checked for DataFrame: construction_feature
NA and duplicates checked for DataFrame: utility_coverage
NA and duplicates checked for DataFrame: security_condition
NA and duplicates checked for DataFrame: property
NA and duplicates checked for DataFrame: service_request
NA and duplicates checked for DataFrame: inspection_reports
NA and duplicates checked for DataFrame: property_images
NA and duplicates checked for DataFrame: agent
NA and duplicates checked for DataFrame: property_listing
NA and duplicates checked for DataFrame: employees
NA and duplicates checked for DataFrame: property_owner
NA and duplicates checked for DataFrame: client
NA and duplicates checked for DataFrame: client_preferences
NA and duplicates checked for DataFrame: appointments
NA and duplicates checked for DataFrame: transactions
NA and duplicates checked for DataFrame: feedback
NA and duplicates checked for DataFrame: loan_suggestion

## Load

In [14]:
# Iterate over each DataFrame and insert into the corresponding database table
for table_name in [name.replace('.csv', '') for name in file_names]:
    
    # Check if the cleaned DataFrame exists
    if f"{table_name}_df" in globals():
        
        # Get the cleaned DataFrame
        df = globals()[f"{table_name}_df"]
        
        # Insert DataFrame into database table
        df.to_sql(table_name, engine, if_exists='append', index=False)
        print(f"Data from {table_name}_df inserted into {table_name} table.")

Data from transportation_df inserted into transportation table.
Data from neighborhood_df inserted into neighborhood table.
Data from building_features_df inserted into building_features table.
Data from construction_feature_df inserted into construction_feature table.
Data from utility_coverage_df inserted into utility_coverage table.
Data from security_condition_df inserted into security_condition table.
Data from property_df inserted into property table.
Data from service_request_df inserted into service_request table.
Data from inspection_reports_df inserted into inspection_reports table.
Data from property_images_df inserted into property_images table.
Data from agent_df inserted into agent table.
Data from property_listing_df inserted into property_listing table.
Data from employees_df inserted into employees table.
Data from property_owner_df inserted into property_owner table.
Data from client_df inserted into client table.

Data from client_preferences_df inserted into client_preferences table.
Data from appointments_df inserted into appointments table.
Data from transactions_df inserted into transactions table.
Data from feedback_df inserted into feedback table.
Data from loan_suggestion_df inserted into loan_suggestion table.

In [15]:
# Close the connection
connection.close()

### Test appointments table see whether insert success

In [20]:
conn = psycopg.connect(
    host="localhost",
    port='5432',
    dbname="5310_project",
    user="postgres",
    password="123")
cur = conn.cursor()
select_command = "SELECT * FROM appointments;"
cur.execute(select_command)
results = cur.fetchall()

for row in results[:5]:
    print(row)
#conn.commit()
cur.close()
conn.close()

(1, 78, 77, 78, 'Signing', datetime.date(2024, 8, 24), datetime.time(16, 39), 'Cancelled')
(2, 177, 88, 25, 'Viewing', datetime.date(2022, 11, 7), datetime.time(14, 22), 'Scheduled')
(3, 828, 271, 11, 'Inspection', datetime.date(2024, 1, 8), datetime.time(11, 27), 'Scheduled')
(4, 249, 112, 33, 'Consultation', datetime.date(2023, 3, 20), datetime.time(8, 18), 'Cancelled')
(5, 383, 50, 34, 'Signing', datetime.date(2023, 6, 20), datetime.time(11, 15), 'Scheduled')

# Analyst to solve business problem

In [33]:
conn = psycopg.connect(
    host="localhost",
    port='5432',
    dbname="5310_project",
    user="postgres",
    password="123")

In [32]:
conn.close()

## 1. How property performance effect price

In [36]:
cur = conn.cursor()
cmd1 = '''
SELECT
    ir.inspection_id,
    ir.property_id,
    COUNT(ir.inspection_id) AS inspection_count,
    COUNT(sr.request_id) AS request_count,
    COUNT(ir.inspection_id) + COUNT(sr.request_id) AS total_count,
    pl.price
FROM
    property_listing pl
LEFT JOIN
    inspection_reports ir ON ir.property_id = pl.property_id
LEFT JOIN
    service_request sr ON sr.property_id = pl.property_id
GROUP BY
    ir.inspection_id,
    ir.property_id,
    pl.price
ORDER BY
    total_count DESC;
'''
cur.execute(cmd1)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(45, 157, 2, 2, 4, 565209)
(240, 154, 2, 2, 4, 379571)
(488, 96, 2, 2, 4, 894225)
(400, 246, 1, 1, 2, 106185)
(90, 79, 1, 1, 2, 168395)

## 2. Help clients quickly find properties that match their preferences

### Analyst Level

In [ ]:
cur = conn.cursor()
cmd2_A = '''
WITH property_info AS (
SELECT
	pl.listing_id,
	pl.property_id,
	LOWER(p.property_type) AS property_type,
	p.bedroom_number AS property_bed,
	p.bathroom_number AS property_bath,
	n.school_rate AS property_school_rate
FROM property_listing pl
INNER JOIN property p ON pl.property_id = p.property_id
LEFT JOIN neighborhood n ON p.neighborhood_id = n.neighborhood_id)

SELECT
    cp.client_id,
    pi.listing_id,
    pi.property_id,
    pi.property_type,
    pi.property_bed,
    pi.property_bath,
    pi.property_school_rate
FROM
    client_preferences cp
CROSS JOIN
    property_info pi
WHERE
    cp.property_type = pi.property_type
	AND cp.preferred_school_rating <= pi.property_school_rate
    AND cp.bedrooms <= pi.property_bed
    AND cp.bathrooms <= pi.property_bath
ORDER BY client_id DESC; 
'''
cur.execute(cmd2_A)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(999, 46, 46, 'townhouse', 4, 3, 54)
(999, 84, 84, 'townhouse', 5, 3, 52)
(999, 283, 283, 'townhouse', 4, 3, 64)
(999, 79, 79, 'townhouse', 4, 3, 63)
(999, 190, 190, 'townhouse', 4, 3, 61)

### Customer Level

In [ ]:
cur = conn.cursor()
cmd2_C = '''
WITH property_info AS (
SELECT
	pl.listing_id,
	pl.property_id,
	LOWER(p.property_type) AS property_type,
	p.bedroom_number AS property_bed,
	p.bathroom_number AS property_bath,
	n.school_rate AS property_school_rate
FROM property_listing pl
INNER JOIN property p ON pl.property_id = p.property_id
LEFT JOIN neighborhood n ON p.neighborhood_id = n.neighborhood_id)

SELECT
    cp.client_id,
    pi.listing_id,
    pi.property_id,
    pi.property_type,
    pi.property_bed,
    pi.property_bath,
    pi.property_school_rate
FROM
    client_preferences cp
CROSS JOIN
    property_info pi
WHERE
    cp.property_type = pi.property_type
	AND cp.preferred_school_rating <= pi.property_school_rate
    AND cp.bedrooms <= pi.property_bed
    AND cp.bathrooms <= pi.property_bath
	AND cp.client_id = 5; 
'''
cur.execute(cmd2_C)
results = cur.fetchall()

for row in results:
    print(row)
cur.close()

(5, 27, 27, 'condo', 4, 3, 74)
(5, 87, 87, 'condo', 4, 3, 75)
(5, 92, 92, 'condo', 2, 3, 78)
(5, 104, 104, 'condo', 5, 3, 77)
(5, 128, 128, 'condo', 5, 3, 68)
(5, 184, 184, 'condo', 3, 3, 66)
(5, 208, 208, 'condo', 4, 3, 76)
(5, 214, 214, 'condo', 2, 3, 54)
(5, 224, 224, 'condo', 3, 3, 54)
(5, 255, 255, 'condo', 2, 3, 72)
(5, 290, 290, 'condo', 2, 3, 78)
(5, 299, 299, 'condo', 4, 3, 70)

Cross Join Concerns: While the cross join is useful for thorough comparisons, it is not typically efficient for customer-facing applications due to its potential to generate a large number of row combinations, which can slow down performance. For a customer-level application, it would be better to use a more direct join based on actual relational links or additional indexing to speed up the query.

User Interface Integration: For a customer-facing scenario, this query would need to be part of a backend system that processes the results quickly and presents them in a user-friendly manner. Any delays or complexity in understanding the results would detract from the user experience.

## 2. Identify regional market trends by averaging the custom property scores across states

### Analyst Level:

In [ ]:
cur = conn.cursor()
cmd3_A = '''
WITH property_details_cte AS (
  SELECT 
	p.state,
    p.property_id,
    p.year_built,
    n.crime_rate,
    bf.condition,
    sc.door_man,
    t.subway
  FROM property p
  LEFT JOIN
    neighborhood n ON p.neighborhood_id = n.neighborhood_id
  LEFT JOIN
    building_features bf ON p.feature_id = bf.feature_id
  LEFT JOIN
    security_condition sc ON p.security_id = sc.security_id
  LEFT JOIN
    transportation t ON p.transit_id = t.transit_id
  WHERE
    p.state IN ('NY', 'NJ', 'CT')
),
crime_rate_avg AS (
  SELECT 
    AVG(crime_rate) as avg_crime_rate
  FROM 
    neighborhood
),
score_table AS (
	SELECT 
	cte.property_id,
	(CASE WHEN cte.year_built < 2000 THEN 1 ELSE 2 END) +
	(CASE WHEN cte.crime_rate < (SELECT avg_crime_rate FROM crime_rate_avg) THEN 2 ELSE 1 END) +
	(CASE 
	WHEN cte.condition = 'Excellent' THEN 3
	WHEN cte.condition = 'Good' THEN 2
	WHEN cte.condition = 'Fair' THEN 1
	WHEN cte.condition = 'Bad' THEN 0
	END) +
	(CASE WHEN cte.door_man THEN 1 ELSE 0 END) +
	(CASE WHEN cte.subway IS NOT NULL THEN 1 ELSE 0 END) AS property_score
FROM 
  property_details_cte cte)
	
SELECT 
	pd.state, 
	ROUND(AVG(st.property_score),2) AS avg_score
FROM property_details_cte pd
	JOIN score_table st ON pd.property_id=st.property_id
GROUP BY pd.state;
'''
cur.execute(cmd3_A)
results = cur.fetchall()

for row in results:
    print(row)
cur.close()

('NY', Decimal('5.93'))
('CT', Decimal('5.91'))
('NJ', Decimal('5.90'))

----------

### Customer Level:

In [ ]:
cur = conn.cursor()
cmd3_C = '''
WITH property_details_cte AS (
  SELECT 
	p.state,
    p.property_id,
    p.year_built,
    n.crime_rate,
    bf.condition,
    sc.door_man,
    t.subway
  FROM property p
  LEFT JOIN
    neighborhood n ON p.neighborhood_id = n.neighborhood_id
  LEFT JOIN
    building_features bf ON p.feature_id = bf.feature_id
  LEFT JOIN
    security_condition sc ON p.security_id = sc.security_id
  LEFT JOIN
    transportation t ON p.transit_id = t.transit_id
  WHERE
    p.state IN ('NY', 'NJ', 'CT')
),
crime_rate_avg AS (
  SELECT 
    AVG(crime_rate) as avg_crime_rate
  FROM 
    neighborhood
)
	
SELECT 
	cte.property_id,
	(CASE WHEN cte.year_built < 2000 THEN 1 ELSE 2 END) +
	(CASE WHEN cte.crime_rate < (SELECT avg_crime_rate FROM crime_rate_avg) THEN 2 ELSE 1 END) +
	(CASE 
	WHEN cte.condition = 'Excellent' THEN 3
	WHEN cte.condition = 'Good' THEN 2
	WHEN cte.condition = 'Fair' THEN 1
	WHEN cte.condition = 'Bad' THEN 0
	END) +
	(CASE WHEN cte.door_man THEN 1 ELSE 0 END) +
	(CASE WHEN cte.subway IS NOT NULL THEN 1 ELSE 0 END) AS property_score
FROM 
  property_details_cte cte
'''
cur.execute(cmd3_C)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(1, 6)
(2, 5)
(3, 6)
(4, 7)
(5, 3)

Redundancy: The query calculates averages and performs conditional checks within the SQL statement. In a production environment, these calculations might be pre-computed periodically and stored in summary tables to avoid recalculating on each query.

Performance: This complex query might benefit from indexes on frequently joined columns and where clause fields. Materialized views could also be used for aggregations that don't need real-time data. Using subqueries in CASE statements might lead to suboptimal performance, especially if the underlying tables are large.

## 3. How can we increase the efficiency of property sales and rentals?

In [ ]:
cur = conn.cursor()
cmd4 = '''
WITH scheduled_viewings AS (
    SELECT 
        a.appointment_id,
        a.listing_id,
        a.appointment_date,
        a.appointment_time,
        e.employees_id,
        e.employees_name,
        p.listing_type,
        p.listing_status
    FROM 
        appointments a
    JOIN 
        employees e ON a.employees_id = e.employees_id
    JOIN 
        property_listing p ON a.listing_id = p.listing_id
    WHERE 
        a.appointment_type = 'Viewing'
),
customer_feedback AS (
    SELECT 
        pl.listing_id,
        AVG(f.rating) AS avg_rating,
        COUNT(f.feedback_id) AS feedback_count
    FROM 
        feedback f
    JOIN 
        transactions t on t.transaction_id = f.transaction_id
    JOIN
        property_listing pl ON t.listing_id = pl.listing_id
    WHERE 
        f.rating IS NOT NULL
    GROUP BY 
        pl.listing_id
),
property_updates AS (
    SELECT 
        p.property_id,
        p.listing_status,
        CASE 
            WHEN p.listing_status = 'Active' THEN 'On Market'
            WHEN p.listing_status = 'Pending' THEN 'Available'
            ELSE p.listing_status
        END AS updated_status
    FROM 
        property_listing p
),
updated_properties AS (
    SELECT 
        pu.property_id,
        pu.listing_status AS original_status,
        pu.updated_status
    FROM 
        property_updates pu
    WHERE 
        pu.listing_status <> pu.updated_status
)
SELECT 
    sv.appointment_id,
    sv.listing_id,
    sv.appointment_date,
    sv.appointment_time,
    sv.employees_id,
    sv.employees_name,
    sv.listing_type,
    cf.avg_rating,
    cf.feedback_count
FROM 
    scheduled_viewings sv
LEFT JOIN 
    customer_feedback cf ON sv.listing_id = cf.listing_id
'''
cur.execute(cmd4)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(2, 88, datetime.date(2022, 11, 7), datetime.time(14, 22), 25, 'Collier, James', 'Renting', None, None)
(7, 297, datetime.date(2023, 6, 7), datetime.time(17, 8), 17, 'Lewis, Kara', 'On Sale', Decimal('3.0000000000000000'), 1)
(8, 265, datetime.date(2023, 7, 28), datetime.time(14, 47), 82, 'Dodson, Rhonda', 'Renting', Decimal('5.0000000000000000'), 1)
(13, 72, datetime.date(2024, 1, 18), datetime.time(17, 32), 113, 'Burton, Tina', 'On Sale', Decimal('2.6000000000000000'), 5)
(17, 172, datetime.date(2022, 1, 11), datetime.time(11, 49), 22, 'Munoz, Paul', 'Renting', Decimal('2.7000000000000000'), 10)

Use the scheduled_viewings CTE to get scheduled property viewing information from the reservation table, including appointment date, time, employee information, and property address.

customer_feedback CTE calculates the average rating and amount of feedback for each property to understand how satisfied customers are with the property.

property_updates CTE updates the property status information based on the current and latest status of the property. This step is used to monitor changes in the status of the property, such as from "for sale" to "on the market."

updated_properties CTE selects properties whose status changes for subsequent analysis.

The final query takes data from the previous CTE and correlates the scheduled property viewings with customer feedback and property status updates for comprehensive analysis and adjustment of the sales strategy.

## 4. How can we improve customer service and experience?

In [ ]:
cur = conn.cursor()
cmd5 = '''
WITH customer_feedback_analysis AS (
    SELECT 
        c.client_id,
        c.client_name,
        cf.rating
    FROM 
        client c
    JOIN 
        transactions t On c.client_id = t.client_id
    LEFT JOIN 
        feedback cf ON t.transaction_id = cf.transaction_id
),
customer_preferences_analysis AS (
    SELECT 
        cp.client_id,
        cp.property_type,
        cp.bedrooms,
        cp.bathrooms
    FROM 
        client_preferences cp
),
customer_experience_analysis AS (
    SELECT 
        cfa.client_id,
        cfa.client_name,
        AVG(cfa.rating) AS avg_rating,
        COUNT(cfa.client_id) AS feedback_count,
        cpa.property_type,
        COUNT(cpa.client_id) AS preference_count,
        ae.latest_status,
        COUNT(ae.client_id) AS appointment_count
    FROM 
        customer_feedback_analysis cfa
    LEFT JOIN 
        customer_preferences_analysis cpa ON cfa.client_id = cpa.client_id
    LEFT JOIN 
        appointments ae ON cfa.client_id = ae.client_id
    GROUP BY 
        cfa.client_id, cfa.client_name, cpa.property_type, ae.latest_status
)
SELECT 
    cea.client_id,
    cea.client_name,
    cea.avg_rating,
    cea.feedback_count,
    cea.property_type,
    cea.preference_count,
    cea.latest_status,
    cea.appointment_count
FROM 
    customer_experience_analysis cea;
'''
cur.execute(cmd5)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(10, 'Lopez, Maria', Decimal('3.0000000000000000'), 24, 'single house', 24, 'Completed', 24)
(39, 'Owens, Lori', Decimal('4.0000000000000000'), 1, None, 1, 'Scheduled', 1)
(45, 'Bradley, Susan', Decimal('3.2500000000000000'), 16, 'apartment', 16, 'Cancelled', 16)
(470, 'Richardson, Todd', Decimal('3.5000000000000000'), 5, 'condo', 5, 'Completed', 5)
(17, 'Delgado, William', Decimal('3.5000000000000000'), 10, 'condo', 10, 'Scheduled', 10)

Use the customer_feedback_analysis CTE to get customer feedback from customers and customer feedback tables, including customer ids, names, ratings, and reviews.

customer_preferences_analysis CTE obtains customer preference information from the customer preference table, including property type, price range, number of bedrooms, number of bathrooms, and commuting preferences.

customer_experience_analysis CTE aggregates customer feedback, preferences, and reservation efficiency information to calculate the average customer rating, number of feedback, number of preferences, and number of appointments, as well as the reservation efficiency status.

The final query takes data from the previous CTE and integrates customer feedback, preferences, and booking efficiency information for comprehensive analysis and improved customer service and experience.

## 5. Property Listings with Highest Ratings:

In [ ]:
cur=conn.cursor()
cmd6 = '''
SELECT
    pl.property_id,
    pl.price,
    f.rating,
    pl.listing_type,
    pl.listing_status
FROM
    property_listing pl
JOIN
    transactions t ON pl.listing_id = t.listing_id
JOIN
    feedback f ON t.transaction_id = f.transaction_id
WHERE
    f.rating >= 4
ORDER BY
    f.rating DESC;
'''
cur.execute(cmd6)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(3, 475125, 5, 'On Sale', 'Sold')
(192, 657718, 5, 'Renting', 'Active')
(150, 592242, 5, 'On Sale', 'Active')
(50, 776296, 5, 'On Sale', 'Active')
(61, 705832, 5, 'On Sale', 'Pending')

## 6. Agent Performance Analysis:

In [ ]:
cur = conn.cursor()
cmd7 = '''
SELECT
    e.agent_id,
    e.employees_name,
    COUNT(DISTINCT a.appointment_id) AS total_appointments,
    COUNT(DISTINCT t.transaction_id) AS total_transactions,
    COUNT(DISTINCT CASE WHEN t.status = 'Completed' THEN t.transaction_id END) AS successful_transactions,
    (COUNT(DISTINCT CASE WHEN t.status = 'Completed' THEN t.transaction_id END) / COUNT(DISTINCT t.transaction_id)) * 100 AS success_rate
FROM
    employees e
LEFT JOIN
    appointments a ON e.employees_id = a.employees_id
LEFT JOIN
    transactions t ON e.employees_id = t.employees_id
GROUP BY
    e.agent_id, e.employees_name
ORDER BY
    success_rate DESC;
'''
cur.execute(cmd7)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

(1, 'Campbell, Christopher', 8, 10, 0, 0)
(1, 'Cruz, Connie', 4, 22, 0, 0)
(1, 'Hill, Allen', 7, 14, 0, 0)
(1, 'Klein, Brian', 7, 18, 0, 0)
(1, 'Mata, Miranda', 9, 14, 0, 0)

## Find average room rate in each neighborhood:

In [ ]:
cur = conn.cursor()
cmd8 = '''
SELECT 
    n.neighborhood_name,
    ROUND(AVG(pl.price), 2) AS average_price
FROM 
    neighborhood n
JOIN 
    property p ON n.neighborhood_id = p.neighborhood_id
JOIN 
    property_listing pl ON p.property_id = pl.property_id
WHERE 
    pl.listing_status = 'Active'
GROUP BY 
    n.neighborhood_name;
'''
cur.execute(cmd8)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

('Newark', Decimal('566260.67'))
('Hoboken', Decimal('441036.50'))
('Greenwich', Decimal('604239.22'))
('Princeton', Decimal('450352.40'))
('Greenwich Village', Decimal('763954.00'))

## Number of maintenance requests and inspections for each property

In [ ]:
cur = conn.cursor()
cmd9 = '''

SELECT 
    p.address,
    p.city,
    COUNT(sr.request_id) AS service_requests,
    COUNT(ir.inspection_id) AS inspections
FROM 
    property p
LEFT JOIN 
    service_request sr ON p.property_id = sr.property_id
LEFT JOIN 
    inspection_reports ir ON p.property_id = ir.property_id
GROUP BY 
    p.address, p.city;

'''
cur.execute(cmd9)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

('265 Shannon Radial', 'Waterbury', 0, 0)
('6017 Martinez Locks', 'Newark', 0, 2)
('683 Tracy Gardens', 'Syracuse', 0, 0)
('72693 Andrew Fort', 'Elizabeth', 3, 3)
('8819 Alexander Spurs Apt. 236', 'Elizabeth', 0, 1)

## Calculate the number and average price of properties in each city

In [ ]:
cur = conn.cursor()
cmd10 = '''
SELECT 
    p.city,
    COUNT(pl.property_id) AS property_count,
    ROUND(AVG(pl.price), 2) AS average_price
FROM 
    property_listing pl
JOIN 
    property p ON pl.property_id = p.property_id
GROUP BY 
    p.city;

'''
cur.execute(cmd10)
results = cur.fetchall()

for row in results[:5]:
    print(row)
cur.close()

('Newark', 23, Decimal('545415.00'))
('New York', 16, Decimal('582896.56'))
('Buffalo', 21, Decimal('552968.43'))
('Bridgeport', 22, Decimal('528731.95'))
('Jersey City', 19, Decimal('447115.32'))

In [ ]:
conn.close()

In [57]:
conn = psycopg.connect(
    host="localhost",
    port='5432',
    dbname="5310_project",
    user="postgres",
    password="123")